
{% extends "layout.html" %}
   {% block body %}

<!--- Image Slider -->
<div id="slides" class="carousel slide" data-rider="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1" class="active"></li>
        <li data-target="#slides" data-slide-to="2" class="active"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../static/images/background2.png">
            <div class="carousel-caption">
                <h1 class="display-2">ENERGY TRADING</h1>
                <h3>Democratizing Energy Market</h3>
                <a class="btn btn-outline-light btn-lg" href="/faq">Learn More</a>
                <a class="btn btn-primary btn-lg" href="/register">Start Trading</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../static/images/background1.png">
            <div class="carousel-caption">
                <h1 class="display-2">ENERGY TRADING</h1>
                <h3>Democratizing Energy Market</h3>
                <a class="btn btn-outline-light btn-lg" href="/faq">Learn More</a>
                <a class="btn btn-primary btn-lg" href="/register">Start Trading</a>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../static/images/background3.png">
            <div class="carousel-caption">
                <h1 class="display-2">ENERGY TRADING</h1>
                <h3>Democratizing Energy Market</h3>
                <a class="btn btn-outline-light btn-lg" href="/faq">Learn More</a>
                <a class="btn btn-primary btn-lg" href="/register">Start Trading</a>
            </div>
        </div>
    </div>
</div>


<!--- Jumbotron -->
<div class="container-fluid">
   <div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
        <p class="lead">We are a energy trading platform enabling utilities to build a better relationship with customers and co-create value for the betterment of the environment. Putting the power back in the hands of the consumer to choose from where and who their energy comes from and how its produced. </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
        <a href="/contactus.html"><button type="button" class="btn btn-outline-secondary btn-lg">Request a Demo</button></a>
    </div>
   </div>
</div>

<!--- Welcome Section -->


<!--- Three Column Section -->




<!--- Fixed background -->


<!--- Emoji Section -->


<!--- Meet the team -->


<!--- Cards -->
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../static/images/card-p2p.png">
                <div class="card-body">
                    <h4 class="card-title text-center">P2P Energy Trading</h4>
                    <p> We are a energy trading platform which decentralizes the energy generation and democratizing energy market</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../static/images/card-distributed.png">
                <div class="card-body">
                    <h4 class="card-title text-center">Distributed Storage</h4>
                    <p> We are a energy trading platform which decentralizes the energy generation and democratizing energy market</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../static/images/card-analytics.png">
                <div class="card-body">
                    <h4 class="card-title text-center">RE Certificates</h4>
                    <p> We are a energy trading platform which decentralizes the energy generation and democratizing energy market</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--- Connect -->
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-12">
            <hr class="light">
            <h2>Connect with Us</h2>
            <hr class="light">
        </div>
        <div class="col-12 social padding">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>
    {% endblock %}
