
{% extends "layout.html" %}
   {% block body %}
<div class="container">
    <div class="row justify-content-center">
        <h5> ECOBOX <mark> {{devicestatus.serialno}} </mark> </h5>
    </div>
    <div class="row justify-content-center">
        <h6>STATUS :
            {% if devicestatus.status == 'P': %}
            PROVISIONED
            {% elif devicestatus.status == 'I': %}
            INSTALLED
            {% elif devicestatus.status == 'R': %}
            REGISTERED
            {% endif %}
        </h6>
    </div>
    <div class="row">
        <div class="col-sm-5 justify-content-left">
            <h6> CONFIGURATION </h6>
            <table class="table table-sm font-weight-light" style="font-size: .6em;">
                <tr class="table-success">
                    <td> Status: </td>
                    <td>
                        {% if devicestatus.status == 'P': %} PROVISIONED
                        {% elif devicestatus.status == 'I': %} INSTALLED
                        {% elif devicestatus.status == 'R': %} REGISTERED
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Serial No: </td>
                    <td>{{ devicestatus.serialno }}</td>
                </tr>
                <tr>
                    <td> SIM No: </td>
                    <td> {{ devicestatus.uniqueid }}</td>
                </tr>
                <tr>
                    <td> Location: </td>
                    <td>{{ devicestatus.location }} </td>
                </tr>
                 <tr>
                    <td> Hostname: </td>
                    <td>{{ devicestatus.hostname }} </td>
                </tr>
                <tr>
                    <td> IP Address: </td>
                    <td>{{ devicestatus.address }} </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-7 justify-content-left">
            {% if devicestatus.status == 'P': %}
                <img class="image" src="static/images/pstatus.gif"  alt="" height=250 align="center">
            {% elif devicestatus.status == 'I': %}
                <img class="image" src="static/images/istatus.gif"  alt="" height=250 align="center">
            {% elif devicestatus.status == 'R': %}
                <img class="image" src="static/images/rstatus.gif"  alt="" height=250 align="center">
            {% elif devicestatus.status == 'T': %}
                <img class="image" src="static/images/p2pstatus.gif"  alt="" height=250 align="center">
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 justify-content-end font-weight-light" style="font-size: .6em;">
            <h6> RELAY STATUS </h6><br>
            <table class="table table-sm font-weight-light" style="font-size: .6em;">
                <tr>
                    <td> PV Out: </td>
                    <td><mark> {{ devicestatus.pv_supply   }} </mark></td>
                </tr>
                <tr>
                    <td> Battery Discharge: </td>
                    <td><mark> {{ devicestatus.bat_supply  }} </mark> </td>
                </tr>
                <tr>
                    <td>Battery Charge: </td>
                    <td><mark> {{ devicestatus.bat_charge  }} </mark> </td>
                </tr>
                <tr>
                    <td>EV Charge: </td>
                    <td><mark> {{ devicestatus.ev_charge   }} </mark></td>
                </tr>
                <tr>
                    <td>Appliances: </td>
                    <td><mark> {{ devicestatus.appl_supply }} </mark></td>
                </tr>
                <tr>
                    <td>Grid Supply: </td>
                    <td><mark> {{ devicestatus.grid_supply }} </mark></td>
                </tr>
                <tr>
                    <td>Grid Dump: </td>
                    <td><mark> {{ devicestatus.grid_dump 	}} </mark></td>
                </tr>
            </table>
        </div>
    </div>
 </div>
  {% endblock %}
